# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/
out/

# Environment files
.env

# IDE specific files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

# Ignore all npm debug logs
npm-debug.log*